@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #110a69;
  color: #fff;
  padding: 10px 0;
}

.TituloHeader {
  position: relative;
  margin-left: 30px;
}

.cabecalho__itens {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.cabecalho__itens__item {
  display: inline;
}

.cabecalho__itens__link {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.cabecalho__itens__link:hover {
  background-color: #5c66ff;
}

main {
  background-color: white;
  color: black;
  margin: 50px;
}

.container1{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

}

.forumNoticias {
  
  display: grid;
  grid-template-columns: repeat(2, minmax(0px, 1fr)) ;
  grid-template-rows: ;
  gap: 20px;
}

.noticiaPrincipalDiv {
  border: 6px solid black;
  border-radius: 50px;
  text-align: center;
}

.forumDiv {
  border: 6px solid black;
  border-radius: 50px;
  text-align: center;
}

./*itensForumDiv {
  justify-content: center;
  display: flex;
  gap: 50px;

}

.itensForumLink {
  justify-content: center;
  text-decoration: none;
  background-color: #110a69;
  padding: 10px   0;
  margin-top: 30px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  border-radius: 14px;
  width: 300px;
}

.itensForumLink:hover{
  background-color:#5c66ff;
  color: white;
}

.itensForumLink:active{
  background-color:#161e91;
}

*/