@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #110a69;
  color: #fff;
  padding: 10px 0;
}

.TituloHeader {
  position: relative;
  margin-left: 30px;
}

.cabecalho__itens {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.cabecalho__itens__item {
  display: inline;
}

.cabecalho__itens__link {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.cabecalho__itens__link:hover {
  background-color: #5c66ff;
}

main {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 2% 5%;
}

.noticiaPrincipalDiv {
  border: 6px solid black;
  border-radius: 50px;
  text-align: center;
  width: 700px;
  height: 400px;
}


.noticiasSecundariasDiv ul {
  list-style: none;
  display: flex;
  position: absolute;
  justify-content: center;
  gap: 60px;
  border-radius: 12px;
  width: 700px;
  height: 360px;
  margin-top: 30px;
}

 .noticiasSecListaUpLeft{
  position: absolute;
  border: 6px solid black;
  border-radius: 50px;
  top: 0;
  left: 0;
  padding: 70px;
 }

 .noticiasSecListaUpRight{
  position: absolute;
  border: 6px solid black;
  border-radius: 50px;
  padding: 70px;
  top: 0;
  right: 0;
 }

 .noticiasSecListaDownLeft{
  position: absolute;
  border: 6px solid black;
  border-radius: 50px;
  bottom: 0;
  left: 0;
  padding: 70px;
 }

 .noticiasSecListaDownRight{
  position: absolute;
  border: 6px solid black;
  border-radius: 50px;
  bottom: 0;
  padding: 70px;
  right: 0;
 }

.forumDiv {
  border: 6px solid black;
  border-radius: 50px;
  text-align: center;
  width: 700px;
  height: 780px;
}

.forumNoticias {
  display: flex;
  flex-direction: row;
  gap: 200px;
  justify-content: center;

}

.itensForumDiv {
  justify-content: center;
  display: flex;
  gap: 50px;

}

.itensForumLink {
  justify-content: center;
  text-decoration: none;
  background-color: #110a69;
  padding: 10px   0;
  margin-top: 30px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  border-radius: 14px;
  width: 300px;
}

.itensForumLink:hover{
  background-color:#5c66ff;
  color: white;
}

.itensForumLink:active{
  background-color:#161e91;
}
